body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 10px sans-serif;
}

.contactsDiv {
	margin-top: 50px;
	width: 200px;
	height: 440px;
	float: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
	display: none;
}

.graphSvg {
	margin-top: 50px;
}

.graphSvg rect{
	fill: steelblue;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 80px;
	height: 50px;
	padding: 2px;
	font-size: 12px;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}